/* MISC */
/* VARIABLES */
/* NORMALIZE */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: Verdana; }

h1 {
  font-size: 3.6rem;
  color: #FFFFFF; }

h2 {
  font-size: 2.8rem;
  color: #0C4107; }

h3 {
  font-size: 2.2rem;
  color: #0C4107;
  text-align: center; }

a {
  font-size: 1.6rem;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block; }

p {
  font-size: 1.4rem;
  text-align: justify; }

article {
  padding: .8rem; }

[role=button] {
  cursor: pointer; }

/* PARTIALS */
/* HEADER  */
header {
  background-color: #1C281F;
  width: 100%;
  display: block; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 0; }
    header .navbar img {
      max-height: 80px; }
    header .navbar .menu {
      align-items: center;
      display: flex;
      flex-wrap: wrap; }
      header .navbar .menu__links {
        display: inline-block; }
        header .navbar .menu__links a {
          padding: 0.5rem;
          transition: all .8s ease-in-out; }
        header .navbar .menu__links:hover {
          background-color: #FFFFFF;
          color: #0C4107; }
    header .navbar .hamburger {
      display: none; }

.footer {
  background-color: #1C281F;
  min-height: 5vh;
  width: 100vw;
  max-height: 15vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  /*  max-width: 1200px; */ }
  .footer p {
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 0 1rem 0 1rem;
    text-align: justify; }

/*PAGES*/
.seccion1_home {
  background-color: #0C4107;
  padding: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .seccion1_home .contenedor {
    max-width: 1000px;
    display: flex;
    flex-direction: row; }
  .seccion1_home img {
    max-width: 400px;
    max-height: 230px;
    padding-top: 1.6rem; }
  .seccion1_home .div {
    max-width: 40vw;
    flex-direction: column; }

.seccion1_p {
  color: #FFFFFF; }

#seccion2_home {
  margin-bottom: 5vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #seccion2_home .title2_home {
    display: flex;
    justify-content: center;
    text-align: center; }
  #seccion2_home article {
    display: flex;
    flex-direction: row;
    max-width: 1000px; }
    #seccion2_home article .div {
      display: flex;
      flex-direction: column;
      max-width: 50vw;
      padding: 0 1rem 0 1rem; }
  #seccion2_home .vym_home img {
    max-width: 30vw; }
  #seccion2_home .conci_home img {
    width: 30vw; }
  #seccion2_home .per_home__img {
    display: flex;
    flex-direction: row;
    max-width: 30vw; }
    #seccion2_home .per_home__img img {
      width: 15vw; }
  #seccion2_home .per_home__text {
    padding: .5rem;
    max-width: 500px; }
  #seccion2_home .cons_home img {
    width: 30vw; }
  #seccion2_home .adap_home img {
    width: 30vw; }

/* MEDIA QUERY */
@media screen and (max-width: 744px) {
  .navbar .menu {
    display: none;
    position: absolute;
    font-size: 1rem; }
  .hamburger {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none; }
  .div {
    flex-direction: column; }
  .seccion1_pages-art {
    flex-direction: column;
    align-items: center; }
  .seccion2_pages {
    flex-direction: column; } }

@media screen and (max-width: 572px) {
  .seccion1_home .contenedor {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    padding: 0; }
  .seccion1_home img {
    max-width: 400px;
    max-height: 230px;
    padding-top: .6rem; }
  .seccion1_home .div {
    max-width: none;
    flex-direction: column;
    padding: 0 0 0 0; }
    .seccion1_home .div h1 {
      text-align: center; }
  #seccion2_home article {
    display: flex;
    flex-direction: column;
    max-width: 1000px; }
    #seccion2_home article .div {
      display: flex;
      flex-direction: column;
      max-width: 50vw;
      padding: 0 1rem 0 1rem; }
  #seccion2_home .vym_home {
    align-items: center; }
    #seccion2_home .vym_home .div {
      max-width: 400px; }
    #seccion2_home .vym_home img {
      max-width: 400px; }
  #seccion2_home .conci_home {
    align-items: center;
    flex-flow: column-reverse; }
    #seccion2_home .conci_home .div {
      max-width: 400px; }
    #seccion2_home .conci_home img {
      width: 400px; }
  #seccion2_home .per_home {
    align-items: center; }
    #seccion2_home .per_home__text {
      padding: .5rem;
      max-width: 400px; }
    #seccion2_home .per_home__img {
      display: flex;
      flex-direction: row;
      max-width: 400px; }
      #seccion2_home .per_home__img img {
        width: 200px; }
  #seccion2_home .adap_home {
    align-items: center;
    flex-flow: column-reverse; }
    #seccion2_home .adap_home .div {
      max-width: 400px; }
    #seccion2_home .adap_home img {
      width: 400px; }
  #seccion2_home .cons_home .div {
    max-width: 400px; }
  #seccion2_home .cons_home img {
    width: 400px; } }

.seccion2_vym {
  background-image: url(../img/vym_back.jpg);
  min-height: 400px; }
  .seccion2_vym #carouselvym {
    min-height: 400px;
    margin-bottom: 5vh; }

.seccion1_per {
  padding: 0 3rem 0 3rem;
  display: flex;
  justify-content: center; }
  .seccion1_per-art {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1000px;
    overflow: hidden;
    align-items: center; }
    .seccion1_per-art .per__img {
      max-height: 250px;
      display: grid;
      grid-template-columns: repeat(12, auto);
      grid-gap: 5px;
      grid-auto-rows: minmax(100px, auto);
      align-items: center; }
      .seccion1_per-art .per__img-1 {
        max-height: 125px;
        grid-column: 1 / 2;
        grid-row: 1; }
      .seccion1_per-art .per__img-2 {
        max-height: 125px;
        grid-column: 2;
        grid-row: 1; }
      .seccion1_per-art .per__img-3 {
        max-height: 125px;
        grid-column: 3 / 12;
        grid-row: 1; }
    .seccion1_per-art div {
      margin-right: .5rem; }

.seccion2_per {
  display: flex;
  background-image: url(../img/per_back.jpg);
  padding: 0 3rem 0 3rem;
  justify-content: center; }
  .seccion2_per h3 {
    padding: 1.5rem;
    font-size: xx-large; }
  .seccion2_per-main {
    max-width: 1000px;
    justify-content: center;
    margin-bottom: 15vh; }
  .seccion2_per-div {
    max-width: 1000px;
    min-height: 200vh;
    display: flex;
    flex-wrap: wrap; }
    .seccion2_per-div .btn-primary {
      font-size: 1.6rem;
      background-color: #1C281F; }
    .seccion2_per-div .card-body {
      font-size: 1.4rem; }
    .seccion2_per-div li {
      padding-bottom: 1rem; }

/*MEDIA QUERY*/
@media screen and (max-width: 768px) {
  .seccion1_per-art {
    display: flex;
    flex-direction: column;
    width: 700px;
    overflow: hidden;
    align-items: center; }
    .seccion1_per-art .per__img {
      max-height: 250px;
      display: grid;
      grid-template-columns: repeat(12, auto);
      grid-gap: 5px;
      grid-auto-rows: minmax(100px, auto);
      align-items: center; }
      .seccion1_per-art .per__img-1 {
        max-height: 125px;
        grid-column: 1 / 2;
        grid-row: 1; }
      .seccion1_per-art .per__img-2 {
        max-height: 125px;
        grid-column: 2;
        grid-row: 1; }
      .seccion1_per-art .per__img-3 {
        max-height: 125px;
        grid-column: 3 / 12;
        grid-row: 1; }
    .seccion1_per-art div {
      margin-right: .5rem; } }

@media screen and (max-width: 572px) {
  .seccion1_per {
    padding: 0 3rem 0 3rem;
    display: flex;
    justify-content: center; }
    .seccion1_per-art {
      display: flex;
      flex-direction: column;
      width: 400px;
      overflow: hidden;
      align-items: center; }
      .seccion1_per-art .per__img {
        max-height: 250px;
        display: grid;
        grid-template-columns: repeat(12, auto);
        grid-gap: 5px;
        grid-auto-rows: minmax(100px, auto);
        align-items: center; }
        .seccion1_per-art .per__img-1 {
          max-height: 125px;
          grid-column: 1 / 2;
          grid-row: 1; }
        .seccion1_per-art .per__img-2 {
          display: none;
          /*                     max-height: 125px;
                  grid-column: 2;
                  grid-row: 1; */ }
        .seccion1_per-art .per__img-3 {
          max-height: 125px;
          grid-column: 2 / 12;
          grid-row: 1; } }

.seccion1_consi {
  display: flex;
  justify-content: center; }
  .seccion1_consi-art {
    max-width: 1000px;
    overflow: hidden;
    padding: 0 3rem 0 3rem;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center; }
    .seccion1_consi-art div {
      grid-column: 1 / 4;
      grid-row: 1; }
    .seccion1_consi-art img {
      max-width: 600px;
      grid-column: 4 / 12;
      grid-row: 1; }

.seccion2_cons {
  background-image: url(../img/consi_back.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .seccion2_cons-main {
    margin-bottom: 15vh;
    padding: 2rem 3rem 0 3rem; }
  .seccion2_cons-div {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 0 1rem 2rem 1rem;
    align-items: center;
    border: solid;
    border-color: #0C4107; }
    .seccion2_cons-div p {
      flex-wrap: wrap; }

/*MEDIA QUERY*/
@media screen and (max-width: 850px) {
  .seccion1_consi-art {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center; }
    .seccion1_consi-art div {
      max-width: 60vw;
      grid-column: 1 / 12;
      grid-row: 1; }
    .seccion1_consi-art img {
      max-width: 60vw;
      grid-column: 1 / 12;
      grid-row: 2;
      padding-bottom: .6rem; } }

@media screen and (max-width: 572px) {
  .seccion1_consi-art {
    padding: .3rem;
    overflow: auto; }
    .seccion1_consi-art div {
      max-width: 350px; }
    .seccion1_consi-art img {
      max-width: 350px; } }

.seccion1_adap {
  display: flex;
  justify-content: center; }
  .seccion1_adap-art {
    max-width: 1000px;
    overflow: hidden;
    padding: 0 3rem 0 3rem;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center; }
    .seccion1_adap-art div {
      grid-column: 1 / 6;
      grid-row: 1; }
    .seccion1_adap-art img {
      max-width: 600px;
      grid-column: 6 / 12;
      grid-row: 1; }

.seccion2_adap {
  background-image: url(../img/adap_back.jpg);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 2rem 3rem 15vh 3rem;
  align-items: center; }
  .seccion2_adap-div {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 0 1rem 2rem 1rem;
    align-items: center;
    border: solid;
    border-color: #0C4107; }
    .seccion2_adap-div p {
      flex-wrap: wrap; }

/*MEDIA QUERY*/
@media screen and (max-width: 850px) {
  .seccion1_adap-art {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center; }
    .seccion1_adap-art div {
      max-width: 60vw;
      grid-column: 1 / 12;
      grid-row: 1; }
    .seccion1_adap-art img {
      max-width: 60vw;
      grid-column: 1 / 12;
      grid-row: 2;
      padding-bottom: .6rem; } }

@media screen and (max-width: 768px) {
  .seccion1_adap-art {
    padding: .6rem; }
    .seccion1_adap-art div {
      max-width: 500px; }
    .seccion1_adap-art img {
      max-width: 500px; } }

@media screen and (max-width: 572px) {
  .seccion1_adap-art {
    padding: .6rem;
    overflow: auto; }
    .seccion1_adap-art div {
      max-width: 350px; }
    .seccion1_adap-art img {
      max-width: 350px; } }

.seccion1_conci {
  padding: 0 3rem 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .seccion1_conci article {
    /*         display: grid; 
        grid-template-columns: 40vw 60vw; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .seccion1_conci article div {
      padding-right: .5rem;
      max-width: 400px; }
    .seccion1_conci article img {
      max-width: 50vw;
      min-width: 400px; }

.seccion2_conci {
  background-image: url(../img/conci_back.jpg);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 3rem 0 3rem; }
  .seccion2_conci-main {
    margin-bottom: 15vh; }
  .seccion2_conci-div {
    display: flex;
    flex-direction: column; }
    .seccion2_conci-div p {
      flex-wrap: wrap; }

/*PAGES*/
.seccion1_pages {
  display: flex;
  justify-content: center; }
  .seccion1_pages-art {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .seccion1_pages-art div {
      width: 30vw; }
    .seccion1_pages-art img {
      width: 40vw;
      padding: .5rem;
      min-width: 310px;
      flex-wrap: wrap; }

.seccion2_pages {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .seccion2_pages h3 {
    display: flex;
    padding: 1.6rem;
    flex-wrap: wrap; }
  .seccion2_pages p {
    display: flex;
    padding: 1.6rem;
    min-width: 40rem;
    flex-wrap: wrap; }
  .seccion2_pages-div {
    display: inline-flex;
    flex-wrap: wrap; }

/*MEDIA QUERY*/
@media screen and (max-width: 572px) {
  .seccion1_pages-art div {
    width: 350px; }
  .seccion1_pages-art img {
    width: 350px;
    padding: 0; } }
