.seccion1_conci{
    padding: 0 3rem 0 3rem; display: flex;
    article{
        display: grid; grid-template-columns: 40vw 60vw; align-items: center;
        div{padding-right: .5rem;}
        img{max-width: 50vw;}
    }
}

.seccion2_conci{
    background-image: url(../img/conci_back.jpg); display: flex; flex-direction: column; max-width: 100%; padding: 0 3rem 0 3rem;
    &-div{display: flex; flex-direction: column;
    p{flex-wrap: wrap;}
    }
  
}