.seccion1_home{
    background-color: $vmoscuro; padding: 1.6rem; display: flex; flex-wrap: wrap; justify-content: center;
    .contenedor{
        max-width: 1000px;
        display: flex; flex-direction: row;
    }
    img{
        max-width: 400px; max-height: 230px; padding-top: 1.6rem;
    }
    .div{
        max-width: 40vw; 
        flex-direction: column;
    }
}

.seccion1_p{
    color: $blanco;
}


#seccion2_home {
    margin-bottom: 5vh;
    .title2_home{
        display: flex; justify-content: center; text-align: center;
    };
    padding: 3rem; display: flex; flex-direction: column; justify-content: center; align-items: center;
    article{
        display: flex; flex-direction: row;  max-width: 1000px;
        .div{
            display: flex; flex-direction: column; max-width: 50vw; padding: 0 1rem 0 1rem
        }
    };
    .vym_home{
        img{
        max-width: 30vw;
        }
    }
}

.conci_home{
    img{
        width: 30vw;
    }
}


.per_home{
    &__img{
        display: flex; flex-direction: row; max-width: 30vw;
        img{
            width: 15vw; ;
        }
    }
    &__text{
        padding: .5rem; max-width: 500px;
    }
}




.cons_home{
    img{
        width: 30vw;
    }
}


.adap_home{
    img{
        width: 30vw;
    }
}









/* MEDIA QUERY */

@media screen and (max-width: 744px) 
{
        .navbar .menu{display: none; position: absolute; font-size: 1rem;}
        .hamburger{display: flex; align-items: center; background-color: transparent; border: none;}
        .div{flex-direction: column;}
        .seccion1_pages-art{flex-direction: column; align-items: center;}
        .seccion2_pages{flex-direction: column;}
        
}