.seccion1_per{padding: 0 3rem 0 3rem; display: flex;
    &-art{display: grid; grid-template-columns: auto 1fr; max-width: 100vw; overflow: hidden;
        .per__img{display: grid; grid-template-columns: 20vw 15vw 30vw; column-gap: .5rem;
            img{max-height: 30vh;}
            &-2{align-self: center;}
            }
        div{margin-right: .5rem;}
        }
}

.seccion2_per{background-image: url(../img/per_back.jpg);
    padding: 0 3rem 0 3rem;
    /* display: flex; flex-direction: column; */
    &-div{min-height: 200vh;
        display: flex;  flex-wrap: wrap;
        .btn-primary{font-size: 1.6rem; background-color: $voscuro;}
        .card-body{font-size: 1.4rem}
    }
}